.divide
{
	padding-top: 0px;
}

.tabledef
{
	width: 100%;
}

.silverback
{
	background-color: #D3D3D3
}

#bodydiv
{
    padding-right: 25%;
}

.middle
 {
    padding-left: 30%;
 }

 .centeringbutton
 {
	 padding-left: 30%;
 }